
<div>
    <md-sidenav class="md-sidenav-left" md-sidenav-left="left" md-component-id="left"  md-whiteframe="4" style="margin-top:80px">

        <md-menu>
            <md-menu-content>
                <md-menu-item ui-sref="reg">
                    <md-button  ng-click="test()">
                        <strong style=" margin-left:10%; margin-top:5%;">Registration </strong>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <md-menu>
            <md-menu-content>
                <md-menu-item ui-sref="signin">
                    <md-button  ng-click="test()">
                        <strong style=" margin-left:10%; margin-top:5%;">Sign In</strong>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
       

        <!--<md-content layout-margin>
            <md-button ng-click="close()" class="md-accent">
                Close this Sidenav
            </md-button>
        </md-content>-->

    </md-sidenav>
    </div>
<div style="background-color:Highlight">
    <md-button ng-click="toggleLeft()">
        <md-button class="md-fab " style="background-color:Highlight">
            <md-icon md-svg-icon="../../Image/menu.svg"></md-icon>
        </md-button>
    </md-button>
    <label style="font-weight:900 ; font-size:30px; font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif">User Registartion App</label>
</div>
<div>
    <h1 style="text-align:center; color: #2c3940; ">Welcome to Home Page</h1>
</div>