<header></header>

<div ng-app="MyApp">
    <form name="pro">

        <table border="1" style="border:solid">

            <tr>
                <td>First Name</td>
                <td id="fname"></td>
            </tr>
            <tr>
                <td>MiddleName</td>
                <td id="mname"></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td id="lname"></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td id="gender"></td>
            </tr>
            <tr>
                <td>Date of Birth</td>
                <td id="dob"></td>
            </tr>
            <tr>
                <td>Aadhar Number</td>
                <td id="aadhar"></td>
            </tr>
            <tr>
                <td>Mobile Number</td>
                <td id="mobile"></td>
            </tr>
            <tr>
                <td>Address1</td>
                <td id="address1"> </td>
            </tr>
            <tr>
                <td>Address2</td>
                <td id="address2"></td>
            </tr>
            <tr>
                <td>City</td>
                <td id="city"></td>
            </tr>
            <tr>
                <td>District</td>
                <td id="district"></td>
            </tr>
            <tr>
                <td>Pin</td>
                <td id="pin"></td>
            </tr>
            <tr>
                <td>State</td>
                <td id="state"></td>
            </tr>
            <tr>
                <td>Country</td>
                <td id="country"></td>
            </tr>
            <tr>
                <td>Role</td>
                <td id="role"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td id="email"></td>
            </tr>

        </table>

    </form>
</div>